#user-wrapper{
    padding: 10px;
    display: flex;
    text-align: center;
    align-content: center;
}
.user {
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 30px;
    height: 150px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.user:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
#check{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
}

.user img{
    width: 100%;
    height: 70%;
}
.user-name-wrapper {
    background-color: lightblue;
    text-align: center;
    align-items: center;
}
